.app-header {
  display: flex;
  flex-direction: column;
}

.app-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
  align-items: center;
}

.logo a:link,
.logo a:visited {
  color: var(--app-primary-color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.3em;
}
.header-cart,
.header-back-button {
  width: 40px;
  padding: 8px;
  color: var(--app-primary-color);
  position: relative;
}
.header-cart {
  text-align: right;
}

.header-cart-badge {
  position: absolute;
  top: -2px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 500;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
