.shop-image-wrapper {
  position: relative;
  height: 320px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 32px;
  --shop-image-img_-_position: absolute;
  --shop-image-img_-_top: 0;
  --shop-image-img_-_bottom: 0;
  --shop-image-img_-_left: -9999px;
  --shop-image-img_-_right: -9999px;
  --shop-image-img_-_max-width: none;
  background-image: url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAAeAAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAQCwsLDAsQDAwQFw8NDxcbFBAQFBsfFxcXFxcfHhcaGhoaFx4eIyUnJSMeLy8zMy8vQEBAQEBAQEBAQEBAQEBAAREPDxETERUSEhUUERQRFBoUFhYUGiYaGhwaGiYwIx4eHh4jMCsuJycnLis1NTAwNTVAQD9AQEBAQEBAQEBAQED/wAARCAADAA4DASIAAhEBAxEB/8QAWQABAQAAAAAAAAAAAAAAAAAAAAEBAQEAAAAAAAAAAAAAAAAAAAIDEAABAwMFAQAAAAAAAAAAAAARAAEygRIDIlITMwUVEQEBAAAAAAAAAAAAAAAAAAAAQf/aAAwDAQACEQMRAD8Avqn5meQ0kwk1UyclmLtNj7L4PQoioFf/2Q==');
  background-size: cover;
  background-position: center;
}
.shop-image {
  position: var(--layout-fit_-_position);
  top: var(--layout-fit_-_top);
  right: var(--layout-fit_-_right);
  bottom: var(--layout-fit_-_bottom);
  left: var(--layout-fit_-_left);
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: 0.5s opacity;
  position: var(--shop-image-img_-_position);
  top: var(--shop-image-img_-_top, var(--layout-fit_-_top));
  bottom: var(--shop-image-img_-_bottom, var(--layout-fit_-_bottom));
  left: var(--shop-image-img_-_left, var(--layout-fit_-_left));
  right: var(--shop-image-img_-_right, var(--layout-fit_-_right));
  max-width: var(--shop-image-img_-_max-width, 100%);
}

.shop-image--loaded {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
@media (max-width: 767px) {
  .shop-image-wrapper {
    height: 240px;
  }
}
