.item-details-wrappper {
  display: flex;
  justify-content: center;
}
.item-img {
  position: relative;
  margin: 64px 32px;
  width: 50%;
  max-width: 600px;
}
.item-details {
  margin: 64px 32px;
  width: 50%;
  max-width: 400px;
}

.item-details-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--app-primary-color);
  margin: 0;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.item-details-price {
  margin: 16px 0 40px;
  font-size: 16px;
  color: var(--app-secondary-color);
}

.item-details-picker {
  border-top: 1px solid;
  border-color: rgb(166, 166, 166);
}
.item-details-description {
  margin: 32px 0;
}

.item-details-description-heading {
  margin: 16px 0;
  font-size: 13px;
  font-weight: 700;
}
.item-details-description-content {
  margin: 0;
  color: var(--app-secondary-color);
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-img-hidden {
  opacity: 0;
}
.item-img-loaded {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  width: 100%;
}

@media (max-width: 767px) {
  .item-details-wrappper {
    flex-direction: column;
  }
  .item-img {
    width: 80%;
  }
  .item-details {
    width: 80%;
  }
}
