.shop-list-item-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  flex-basis: 33%;
  max-width: 33%;
}
.shop-list-item-link {
  text-decoration: none;
}
.shop-list-item {
  display: flex;
  flex-direction: column;
}
.shop-list-item-image {
  opacity: 0;
}
.list-item-name {
  color: var(--app-primary-color);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.list-item-price {
  color: var(--app-secondary-color);
  text-align: center;
  text-decoration: none;
}
.list-item-image-wrapper {
  margin: 32px 0 16px;
}
.list-item-image-wrapper::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.list-item-image-wrapper-padding-reset:before {
  padding-top: 0;
}
.shop-list-item-loaded {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
@media (max-width: 767px) {
  .shop-list-item-wrapper {
    max-width: 100%;
  }
}
